body {
    margin: 0;
    background-color: #1E1E1E;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.layout {
    width: 100%;
    background-color: #353442;


    /* max-width: 1920px; */
    /* margin: 0 auto; */

    display: grid;
    /* grid-template-columns: 60px 1fr; */

}

.content {
    width: 100%;
    height: 100%;
    padding: 16px;

    display: grid;
    /* grid-template-columns: 1fr 320px; */
    /* grid-template-rows: auto 1fr 1fr; */
    /* gap: 20px; */


}

.card {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #403D50;
    border-radius: 10px;
    color: white;

    display: grid;
    justify-items: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: #353442;
    border-right: 1px solid white;
    border-radius: 0;
}

.header {
    /* grid-column: span 2; */
}

.video {
    background-color: #96C9EF;
    /* aspect-ratio: 16/9; */
}


/* responsive */


/* menos que desktop */
@media (max-width: 1023px) {

    .layout {
        /* grid-template-columns: 1fr;  */
    }

    .content {
         /* grid-template-columns: 1fr;  */
    }


    .navbar {
        /* display: none;  */
   }

}
